.container {
  display: grid;
  grid-template-columns: 500px 330px;
  grid-template-rows: auto;
  margin: auto;

  width: 850px;
  margin-top: 30px;

  gap: 20px;
  grid-template-areas:
    "a b"
    "c b"
    "c b"
    "d d";
}
body {
  background-color: #f8f8f8;
}

.container > div {
  background-color: white;
  border: 1px solid rgb(236, 222, 222);
}

.centerFistDiv {
  grid-area: a;
  height: 200px;
  padding: 0 45px 10px;
}
.centerFistDiv > p {
  margin-top: 13px;
  font-size: 20px;
  font-weight: 600;
}
.sideDiv {
  grid-area: b;
  height: 365px;
  display: grid;
}
.sideDiv > div > div:first-child {
  display: flex;
  text-align: center;
  width: 100%;
  height: 40px;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  justify-content: center;
  font-weight: 500;
}
.sideDiv > div > p {
  font-size: 15px;
  font-weight: 500;
}
.sideDiv > div {
  padding-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100%;
}
.sideLstPay {
  margin-top: -10px;
  width: 100%;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}

.sidelstTotal {
  display: flex;
  font-size: 14px;
  margin-top: -15px;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}
.sideLstPay2 {
  margin-top: -15px;
  width: 100%;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
}
.sideDiv > div > .productDes {
  height: 150px;
  display: flex;
  gap: 13px;
}

.sideDiv > div > .productDes > div > img {
  margin-top: 5px;
  width: 90px;
  height: 100px;
  justify-content: center;
}
.sideDiv > div > .productDes > div > p {
  font-size: 10px;
  font-weight: 700;
}

.sideDiv > div > .productDes > div:last-child > p {
  text-align: right;
}
.centerLastDiv {
  grid-area: d;
  width: 495px;
  height: 80px;
}
.centerLastDiv > p {
  font-size: 22px;

  text-align: center;
  margin-left: -300px;
  color: grey;
}
.centerSecDIv {
  grid-area: c;
  width: 495px;
  height: 720px;
}
.centerSecDIv > div > p {
  font-size: 20px;
  font-weight: 600;
}

.centerSecDIv > div {
  height: 650px;
  width: 80%;
  margin: auto;
}

.centerSecDIv > div > .addressBar > input {
  height: 40px;
  padding-left: 10px;
  font-size: 13px;
  width: 21px;
}
.centerSecDIv > div > .addressBar {
  display: flex;
  width: 397px;
  gap: 17px;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}
.centerSecDIv > div > .addressBar > p {
  font-size: 14px;
  font-weight: 500;
}

.centerSecDIv > div > input {
  height: 40px;
  padding-left: 10px;
  font-size: 13px;
  width: 380px;
}

.addressIn {
  margin-top: 20px;
}
.centerSecDIv > div > label {
  position: relative;
}
.form__field:nth-child(1) {
  flex: 1;
  max-width: 378px;
  position: relative;
  margin-bottom: 24px;
}
.checkbox_round {
  width: 1.5em;
  height: 1.4em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px double rgb(230, 237, 232);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border-style: double;
}

.checkbox_round:checked {
  background-color: rgb(60, 119, 247);
  border: 3px solid rgb(233, 226, 226);
}

.centerFirstDiv_inner {
  width: 100%;
}

.centerFirstDiv_inner > div {
  display: flex;
  gap: 12px;
  margin: top;
  text-align: center;
  align-items: center;
}
.centerFirstDiv_inner > div > p {
  text-align: center;
  margin-top: 13px;
  font-size: 20px;
  font-weight: 600;
}
.centerFirstDiv_inner > div > i {
  width: 20px;
  height: 23px;
  font-size: 20px;
}
.centerFirstDiv_inner > div:last-child {
  margin-top: -5px;
  display: flex;
  height: 120px;
  border: 2px solid rgb(211, 211, 221);
  justify-content: space-between;
}
.centerFirstDiv_inner > div:last-child > div:first-child > p {
  font-size: 10px;
  font-weight: 700;
  margin-left: 27px;
  text-align: left;
}
.centerFirstDiv_inner > div:last-child > div:last-child > p {
  align-items: top;
  font-size: 17px;
  margin-right: 10px;
}
.centerFirstDiv_inner > div:last-child > div:last-child {
  display: flex;
  justify-content: top;
  align-items: top;
  margin-left: 10px;
  margin-top: -50px;
  padding-bottom: 20px;
}
.cardDiv {
  display: flex;
  width: 220px;
  height: 45px;
  border: 2px solid rgb(156, 150, 150);
  border-radius: 15px;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.cardDiv > p {
  font-size: 19px;
  font-weight: 700;
}

.cardDiv > i {
  font-size: 20px;
}

.displayCardDiv {
  width: 100%;
  height: 280px;
  border: 2px solid rgb(209, 199, 199);
  background-color: #f4f4f4;
  margin-top: 20px;
  display: flex;
}

.displayCardDiv > div {
  width: 80%;
  height: 85%;
  margin: auto;
  padding-top: 19px;
}
.displayCardDiv > div > div > .cardNumber {
  width: 100%;
  font-size: 21px;
  height: 42px;
  opacity: 0.6;
  padding-left: 10px;
}
.displayCardDiv > div > div {
  display: flex;
  justify-content: flex-end;
}
.displayCardDiv > div > div > .cardNumber + i {
  position: absolute;
  margin-top: 16px;
  margin-right: 13px;
  opacity: 0.6;
}
.displayCardDiv > div > .cardLastDate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.displayCardDiv > div > .cardLastDate > input:first-child {
  height: 42px;
  font-size: 21px;
  opacity: 0.6;
  width: 170px;
  padding-left: 10px;
}

.displayCardDiv > div > .cardLastDate > input + input {
  height: 42px;
  font-size: 21px;
  opacity: 0.6;
  width: 77px;
  padding-left: 10px;
}
.displayCardDiv > div > .nameOnTheCard > input {
  width: 100%;
  font-size: 21px;
  height: 42px;
  opacity: 0.6;
  padding-left: 10px;
}

.displayCardDiv > div > .cardPhotos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.displayCardDiv > div > .cardPhotos > img {
  width: 32px;
  height: 17px;
  opacity: 0.5;
}

.centerSecDIv > div > div > div > .payNowLast {
  display: grid;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;
  margin-left: -40px;
}
.centerSecDIv > div > div > div > .payNowLast > div:first-child {
  width: 100%;
  font-size: 14px;
  word-spacing: 1px;
}

.centerSecDIv > div > div > div > .payNowLast > div:last-child {
  margin-top: 10px;
  display: flex;
  height: 43px;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 19px;
  font-weight: 500;
}
